{% load bootstrap %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/double-bounce.css' %}">
    <title>Login</title>
</head>
<body>
    <!-- VERIFICAR NO FURUTO ESSAS ENSAGENS  
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    -->
    <div id="principal" >
        <div class="sidenav">
            <div class="login-main-text">
            </div>
        </div>
        <div class="main" style="margin-top:4%">
            <div class="col-md-6 col-sm-12">
                <div>
                    <img src="{% static 'img/logo.jpg' %}" class="mx-auto d-block" width='200' alt="atencao"/>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username |add_class:"form-control" |bootstrap}}
                        </div>
                        <div class="form-group">
                            {{ form.password |add_class:"form-control" |bootstrap}}
                        </div>
                        <button type="submit" class="btn btn-success" onclick="exibe('load','principal');" style="width:100%">Login</button>
                    </form>
                    <br>
                    <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="load" style="display:none">
        <div class="spinner" >
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</body>
<script>
    function exibe(load, principal) {
        if (document.getElementById(load).style.display == "none") {
            document.body.style.backgroundColor = "#00bcd4";
            document.getElementById(load).style.display = "flex";
            document.getElementById(principal).style.display = "none";
        } else {
            document.getElementById(load).style.display = "none";
            document.getElementById(principal).style.display = "block";
            document.body.style.backgroundColor = "#fff";
        }
    }
</script>
</html>


