{% extends "base-not-menu.html" %}
{% block main %}
<div class="sidenav">
	<div class="login-main-text">
	</div>
</div>
<div class="main" style="margin-top:15%">
	<div class="col-md-8 col-sm-12">
		<div >
			<p>
				Enviámos-lhe instruções para definir a sua senha, se existir uma conta com o email que introduziu. 
				Você deve recebê-los em breve.
			</p>
			<p>
				Se você não receber um e-mail, verifique se inseriu o endereço com 
				o qual se registrou e verifique sua pasta de spam.
			</p>
			<a href="{% url 'login' %}" ><- Voltar </a>
		</div>
	</div>
</div>
{% endblock main %}