{% extends "base-not-menu.html" %}
{% block main %}
	<div class="sidenav">
		<div class="login-main-text">
		</div>
	</div>
	<div class="main" style="margin-top: 10%">
	<div class="col-md-12 col-sm-12 align-self-center">
		<div class="">
			{% if validlink %}
				<h4>Alterar Senha</h4>
				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="btn btn-success">Alterar Senha</button>
					<a href="{% url 'login' %}" class="btn btn-danger"> Cancelar </a>
				</form>
			{% else %}
				<p>
				O link de redefinição de senha está inválido, possivelmente porque já foi usado. 
				<br><br>
				Por favor, solicite uma nova redefinição de senha.
				</p>
			{% endif %}
		</div>
	</div>
{% endblock %}