{% extends "base-not-menu.html" %}

{% load static %}

{% block main %}
	<div class="sidenav">
        <div class="login-main-text">
        </div>
    </div>
    <div class="main" style="margin-top:15%">
        <div class="col-md-6 col-sm-12">
            <div class="text-center">
                <img src="{% static 'img/success.png' %}" width='100' alt="Sucesso"/>
				<p>
					Senha alterada com sucesso!! 
					<br><br>
					Faça Login <a href="{% url 'login' %}">aqui</a>
				</p>
            </div>
        </div>
    </div>
  
{% endblock %}