{% extends "base.html" %}
{% load static %}

{% block title %}
    Sem Permissão
{% endblock title %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center">
                <img src="{% static 'img/atencao.jpg' %}" width='200' alt="atencao"/>
                <p>Sem Permissão para acessar está página!</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
{% endblock main %}