{% extends "base.html" %}

{% load bootstrap %}

{% block title %}
    Editar Perfil
{% endblock title %}

{% block main %}    
    <div class="container">
        <h3>Editar Perfil</h3>
        <div class="row">
            <div class="col-sm-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form | bootstrap}}
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <a href="{% url 'lista_perfil' %}" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}